.single-product-page {
  position: relative;
  line-height: 4rem;
  margin-bottom: 50px;

  &:before {
    background: linear-gradient(
      to right,
      #cec5c5 25%,
      #ffcd02 25%,
      #ffcd02 50%,
      #e84f47 50%,
      #e84f47 75%,
      #65c1ac 75%
    );
    position: absolute;
    content: "";
    height: 5px;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -50px;
  }

  .dashboard-spinner {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 600px;
  }

  /********   Product images carousel   *******/
  .carousel {
    width: 80%;
    margin: 0 auto;

    .carousel__back-button {
      height: 50px;
      width: 50px;
      line-height: 50px;
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 96%;
    }
    .carousel__next-button {
      height: 50px;
      width: 50px;
      line-height: 50px;
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: -6%;
    }
  }

  /********   Product details  *******/
  .product-name {
    font-weight: 600;
    color: #222;
  }
  .product-desc {
    color: #222;
    font-size: 21px;
  }

  .product-price {
    font-size: 22px;
    color: #b12704;
  }

  .product-stock {
    font-size: 22px;
    color: #b12704;
  }

  .order-quantity {
    span {
      margin-right: 10%;
      font-size: 20px;
    }
  }

  .custom-select {
    width: 5rem;
    text-align: center;
  }

  .add-to-wish-list {
    color: rgb(139, 102, 102);
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: rgb(228, 25, 25);
    }
  }

  .sold-by {
    font-size: 21px;
    color: #333;
  }

  .product-category {
    font-size: 21px;

    a {
      text-decoration: none;
      color: #333;
    }
  }
}
