@import "./dashboard.scss";
@import "./dashboard-sidebar.scss";
@import "./forms.scss";
@import "./users-permissions.scss";

/***** Public elements *******/
.dashboard-headline {
  font-size: 2.5rem;
  font-weight: 700;
  color: grey;
  margin-bottom: 15px;
}

.per-page {
  display: inline-block;

  span {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  select {
    width: 25%;
  }
}

.dashboard-spinner {
  text-align: center;
  margin-top: 30px;
}
